<div class="container schedule">
    <div class="header">
        <h2>Schedule</h2>
    </div>
    <mat-tab-group>
        <mat-tab label="16th October">
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3:00PM
                        </mat-panel-title>
                        <mat-panel-description>
                            Welcome note by Getty
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="duration">
                        <mat-icon>access_time</mat-icon> <span>5 minutes</span>
                    </div>
                    <a class="stream-link" href="http://bit.ly/WTMKenya" target="_blank"
                        rel="noopener noreferrer">Stream Link >> </a>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3:05PM
                        </mat-panel-title>
                        <mat-panel-description>
                            Keynote by Jacqueline Rajuai
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="duration">
                        <mat-icon>access_time</mat-icon> <span>25 minutes</span>
                    </div>
                    <a class="stream-link" href="http://bit.ly/WTMKenya" target="_blank"
                        rel="noopener noreferrer">Stream Link >> </a>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3:30PM
                        </mat-panel-title>
                        <mat-panel-description>
                            Panel: Think equal, build smart, innovate for change
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="duration">
                        <mat-icon>access_time</mat-icon> <span>1 hour</span>
                    </div>
                    <a class="stream-link" href="http://bit.ly/WTMKenya" target="_blank"
                        rel="noopener noreferrer">Stream Link >> </a>
                    <p style="margin-top: 20px;">Bernice Kibet</p>
                    <p>Caroline Muthambiri</p>
                    <p>Jerop Kipruto</p>
                    <p>Caroline Ng'ang'a</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            4:30PM
                        </mat-panel-title>
                        <mat-panel-description>
                            Ice Breaker (Kahoot)
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="duration">
                        <mat-icon>access_time</mat-icon> <span>10 minutes</span>
                    </div>
                    <a class="stream-link" href="http://bit.ly/WTMKenya" target="_blank"
                        rel="noopener noreferrer">Stream Link >> </a>

                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            5:00PM
                        </mat-panel-title>
                        <mat-panel-description>
                            Meet Our Sponsors
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="duration">
                        <mat-icon>access_time</mat-icon> <span>20 minutes</span>
                    </div>
                    <a class="stream-link" href="http://bit.ly/WTMKenya" target="_blank"
                        rel="noopener noreferrer">Stream Link >> </a>
                    <p style="margin-top: 20px;">Moringa School</p>
                    <p>Kamilimu</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            5:20PM
                        </mat-panel-title>
                        <mat-panel-description>
                            Closing Remarks by Getty & Grace
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <a class="stream-link" href="http://bit.ly/WTMKenya" target="_blank"
                        rel="noopener noreferrer">Stream Link >> </a>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
        <mat-tab label="17th October">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:00 AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Join Group Call & Chat
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <a class="stream-link" href="https://discord.gg/ctJJDSm" target="_blank"
                        rel="noopener noreferrer">Stream Link >> </a>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:20AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Keynote pre-show (Flex, Slido)
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="duration">
                        <mat-icon>access_time</mat-icon> <span>10 minutes</span>
                    </div>
                    <p> Opening Film - Video from Google</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:40AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Welcome & Introduction by Allela Eunice
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="duration">
                        <mat-icon>access_time</mat-icon> <span>10 minutes</span>
                    </div>
                    <a class="stream-link" href="http://tiny.cc/DevFestKenyaKeynote" target="_blank"
                        rel="noopener noreferrer">Stream Link >> </a>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:50AM
                        </mat-panel-title>
                        <mat-panel-description>
                            GDG Keynote by Sigu Magwa
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="duration">
                        <mat-icon>access_time</mat-icon> <span>5 minutes</span>
                    </div>
                    <a class="stream-link" href="http://tiny.cc/DevFestKenyaKeynote" target="_blank"
                        rel="noopener noreferrer">Stream Link >> </a>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            10:00AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Google Keynote by Chris Kiagiri
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="duration">
                        <mat-icon>access_time</mat-icon> <span>20 minutes</span>
                    </div>
                    <a class="stream-link" href="http://tiny.cc/DevFestKenyaKeynote" target="_blank"
                        rel="noopener noreferrer">Stream Link >> </a>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            10:20AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Keynotes (Android, Web, Cloud)
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="duration">
                        <mat-icon>access_time</mat-icon> <span>10 minutes each</span>
                    </div>
                    <p>Android Keynote by Murat Yenner
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaKeynote" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                    <p>Web Keynote by Obinna Ekwuno
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaKeynote" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                    <p>Cloud Keynote by John Kimani
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaKeynote" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            11:30AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Breakout Sessions
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="duration">
                        <mat-icon>access_time</mat-icon> <span>35 minutes each</span>
                    </div>
                    <p>Firebase and Kotlin: Extensions, Coroutines and Flows by Rosario Pereira - GDE
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaMobile" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                    <p>Your Angular is on fire by Nikita Poltoratsky
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaWeb" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                    <p>GitOps Style CI/CD by Chuka Ofili
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaCloud" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                    <p>Build Multi-platform Augmented Reality Applications using Unity and ARCore by Sachin Kumar
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaML" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2:00PM
                        </mat-panel-title>
                        <mat-panel-description>
                            Breakout Sessions
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="duration">
                        <mat-icon>access_time</mat-icon> <span>35 minutes each</span>
                    </div>
                    <p>Building Quality Apps using Firebase/Flutter by Mariam Aslam
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaMobile" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                    <p>Angular modules: Let’s have #ngFun! by Wilson Mendes
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaWeb" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                    <p>Semantic Search on GCP with the Weaviate vector search engine by Bob van Lujit
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaCloud" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                    <p>Exporting Machines out of AWS by Kevi A. McGrail
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaML" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                    <p>Developing Maintainable Software, The Narrative by Janice Stephen
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaML" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                </mat-expansion-panel>

            </mat-accordion>
        </mat-tab>

        <mat-tab label="18th October">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:50 AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Join Group Call & Chat
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="duration">
                        <mat-icon>access_time</mat-icon> <span>10 minutes</span>
                    </div><a class="stream-link" href="https://discord.gg/QtcfPq" target="_blank"
                        rel="noopener noreferrer">Stream Link >> </a>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            10:00AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Breakout Sessions
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="duration">
                        <mat-icon>access_time</mat-icon> <span>30 minutes each</span>
                    </div>
                    <p>Community Session (DSC & GDG) + Flex (Chet / Cloud Certification): To kill a working drone:
                        Flying a drone with twitter, bananas & Web APIs by Nhlanhla Lucky Nkosi
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaMobileII" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                    <p>A Change -Data-Capture use-case: designing an evergreen cache by Nicolas Fränkel
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaWebII" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                    <p>Going Serverless, the noncommittal way. Introduction to clean Backend Architecture in 2020 by
                        Jente Rosseel
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaCloudII" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                    <p>Deploying models to production with TensorFlow model server by Rishit Dagli
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaMLII" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            11:00AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Conversations
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="duration">
                        <mat-icon>access_time</mat-icon> <span>35 minutes each</span>
                    </div>
                    <p>Building digital products the right way by Paul Mandela
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaMobileII" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                    <p>Boost your JavaScript app: How to increase performance with the help of WebAssembly by Martina
                        Kraus
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaWebII" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                    <p>Applications and advancements in TF Lite for On-Device Machine Learning by Kshitiz Rimal
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaCloudII" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                    <p>What not to do as you build your Developer career in 2021 by Mercy Cheruto, Ejiofoh Joy
                        <a class="stream-link" href="http://tiny.cc/DevFestKenyaMLII" target="_blank"
                            rel="noopener noreferrer">
                            <mat-icon class="links">link</mat-icon>
                        </a>
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
    </mat-tab-group>
</div>