<div class="container">
    <div class="header">
        <h2>Schedule</h2>
    </div>
    <mat-tab-group>
        <mat-tab label="16th October">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:00 AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Join Group Call & Chat
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>This is the primary content of the panel.</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:20AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Keynote pre-show (Flex, Slido)
                        </mat-panel-description>
                        <mat-panel-description>
                            Opening Film - Video from Google
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>This is the primary content of the panel.</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:40AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Welcome & Introduction
                            Allela Eunice // Google, Kenya
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>10 minutes</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:50AM
                        </mat-panel-title>
                        <mat-panel-description>
                            GDG Keynote () // Kenya
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>5 min</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            10:00AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Google Keynote
                            Chris Kiagiri //Google
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>20 min</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            10:20AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Keynote: Android

                            Murrat Yener // USA

                            Google Developer Advocate

                        </mat-panel-description>
                        <mat-panel-description>
                            Keynote: Web
                            10min
                        </mat-panel-description>
                        <mat-panel-description>
                            Keynote: Cloud
                            10min
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>This is the primary content of the panel.</p>
                </mat-expansion-panel>

            </mat-accordion>
        </mat-tab>
        <mat-tab label="17th October"> Content 2 </mat-tab>
        <mat-tab label="18th October"> Content 3 </mat-tab>
    </mat-tab-group>
</div>