<div class="container">
    <div class="header">
        <h2>Schedule</h2>
    </div>
    <mat-tab-group>
        <mat-tab label="16th October">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:00 AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Join Group Call & Chat
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:20AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Keynote pre-show (Flex, Slido)
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p> Opening Film - Video from Google</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:40AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Welcome & Introduction
                            Allela Eunice // Google, Kenya
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>10 minutes</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:50AM
                        </mat-panel-title>
                        <mat-panel-description>
                            GDG Keynote () // Kenya
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>5 min</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            10:00AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Google Keynote
                            Chris Kiagiri //Google
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>20 min</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            10:20AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Keynote: Android
                            Murrat Yener // USA
                            Google Developer Advocate
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Keynote: Web (10min)</p>
                    <p>Keynote: Cloud (10min)</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            11:30AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Breakout Sessions
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Firebase and Kotlin: Extensions, Coroutines and Flows by Rosario Pereira - GDE (35min)</p>
                    <p>Your Angular is on fire by Nikita Poltoratsky // GDE Angular (35min) </p>
                    <p>GitOps Style CI/CD by Chuka Ofili // GDE GCP (35min)</p>
                    <p>Build Multi-platform Augmented Reality Applications using Unity and ARCore by Sachin Kumar // GDE
                        AR/Assistant (35min)</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2:00PM
                        </mat-panel-title>
                        <mat-panel-description>
                            Breakout Sessions
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Building Quality Apps using Firebase/Flutter by Mariam Aslam // GDE Firebase (35min)</p>
                    <p>Angular modules: Let’s have #ngFun! by Wilson Mendes // GDE Web (35min) </p>
                    <p>Semantic Search on GCP with the Weaviate vector search engine by Bob van Lujit // GDE Web (35min)
                    </p>
                    <p>Build Multi-platform Augmented Reality Applications using Unity and ARCore by Sachin Kumar // GDE
                        AR/Assistant (35min)</p>
                </mat-expansion-panel>

            </mat-accordion>
        </mat-tab>
        <mat-tab label="17th October">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:00 AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Join Group Call & Chat
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:20AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Keynote pre-show (Flex, Slido)
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p> Opening Film - Video from Google</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:40AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Welcome & Introduction
                            Allela Eunice // Google, Kenya
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>10 minutes</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:50AM
                        </mat-panel-title>
                        <mat-panel-description>
                            GDG Keynote () // Kenya
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>5 min</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            10:00AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Google Keynote
                            Chris Kiagiri //Google
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>20 min</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            10:20AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Keynote: Android
                            Murrat Yener // USA
                            Google Developer Advocate
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Keynote: Web (10min)</p>
                    <p>Keynote: Cloud (10min)</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            11:30AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Breakout Sessions
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Firebase and Kotlin: Extensions, Coroutines and Flows by Rosario Pereira - GDE (35min)</p>
                    <p>Your Angular is on fire by Nikita Poltoratsky // GDE Angular (35min) </p>
                    <p>GitOps Style CI/CD by Chuka Ofili // GDE GCP (35min)</p>
                    <p>Build Multi-platform Augmented Reality Applications using Unity and ARCore by Sachin Kumar // GDE
                        AR/Assistant (35min)</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2:00PM
                        </mat-panel-title>
                        <mat-panel-description>
                            Breakout Sessions
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Building Quality Apps using Firebase/Flutter by Mariam Aslam // GDE Firebase (35min)</p>
                    <p>Angular modules: Let’s have #ngFun! by Wilson Mendes // GDE Web (35min) </p>
                    <p>Semantic Search on GCP with the Weaviate vector search engine by Bob van Lujit // GDE Web (35min)
                    </p>
                    <p>Build Multi-platform Augmented Reality Applications using Unity and ARCore by Sachin Kumar // GDE
                        AR/Assistant (35min)</p>
                </mat-expansion-panel>

            </mat-accordion>
        </mat-tab>

        <mat-tab label="18th October">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:00 AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Join Group Call & Chat
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:20AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Keynote pre-show (Flex, Slido)
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p> Opening Film - Video from Google</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:40AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Welcome & Introduction
                            Allela Eunice // Google, Kenya
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>10 minutes</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9:50AM
                        </mat-panel-title>
                        <mat-panel-description>
                            GDG Keynote () // Kenya
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>5 min</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            10:00AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Google Keynote
                            Chris Kiagiri //Google
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>20 min</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            10:20AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Keynote: Android
                            Murrat Yener // USA
                            Google Developer Advocate
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Keynote: Web (10min)</p>
                    <p>Keynote: Cloud (10min)</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            11:30AM
                        </mat-panel-title>
                        <mat-panel-description>
                            Breakout Sessions
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Firebase and Kotlin: Extensions, Coroutines and Flows by Rosario Pereira - GDE (35min)</p>
                    <p>Your Angular is on fire by Nikita Poltoratsky // GDE Angular (35min) </p>
                    <p>GitOps Style CI/CD by Chuka Ofili // GDE GCP (35min)</p>
                    <p>Build Multi-platform Augmented Reality Applications using Unity and ARCore by Sachin Kumar // GDE
                        AR/Assistant (35min)</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2:00PM
                        </mat-panel-title>
                        <mat-panel-description>
                            Breakout Sessions
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Building Quality Apps using Firebase/Flutter by Mariam Aslam // GDE Firebase (35min)</p>
                    <p>Angular modules: Let’s have #ngFun! by Wilson Mendes // GDE Web (35min) </p>
                    <p>Semantic Search on GCP with the Weaviate vector search engine by Bob van Lujit // GDE Web (35min)
                    </p>
                    <p>Build Multi-platform Augmented Reality Applications using Unity and ARCore by Sachin Kumar // GDE
                        AR/Assistant (35min)</p>
                </mat-expansion-panel>

            </mat-accordion>
        </mat-tab>
    </mat-tab-group>
</div>