<div class="container">
    <h2>Speakers</h2>
</div>
<div class="container speakers">
    <div class="card mb-3" style="width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../../../assets/images/chris.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title speaker-name">Chris Kiagiri</h5>
                    <p class="card-title speaker-bio">Chris Kiagiri is a Christian, a husband, a dad, a musician and has
                        been working at Google since 2005. He is currently the global program lead for Customer
                        Engineer Onboarding at Google Cloud.</p>
                    <p class="card-title speaker-bio"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../../../assets/images/jacqueline_portrait.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title speaker-name">Jacqueline Rajuai</h5>
                    <p class="card-title speaker-bio">Jackie is currently a Geo Program Manager working on the Geo for
                        Everyone team leading their outreach strategy for Plus Codes - a project to provide street
                        addresses for
                        people or places that don't have one.</p>
                    <p class="card-title speaker-bio"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../../../assets/images/rosario.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title speaker-name">Rosário P. Fernandes</h5>
                    <p class="card-title speaker-bio">Rosário Pereira Fernandes is a Mobile App Developer at MozDevz and
                        Google Developer Expert for Firebase. He has made many contributions to the Firebase Open Source
                        Community</p>
                    <p class="card-title speaker-bio"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../../../assets/images/mai_aslam.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title speaker-name">Mariam Aslam</h5>
                    <p class="card-title speaker-bio">Mariam Aslam, BIT graduate from Yemen, recently got selected as
                        First Female GDE in Pakistan in Firebase category and is a passionate Software QA Engineer.</p>
                    <p class="card-title speaker-bio"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>