@import "../../../../color";
@import "../../../../shadows";

h2 {
    margin-top: 20px;
    font-family: Poppins;
    font-weight: bolder;
    font-size: 2.2em;
    text-align: center;
}

.speakers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    align-content: center;
    justify-content: space-evenly;

    .modal-title {
        font-weight: bolder;
        font-family: Poppins;
        font-size: 1.4em;
    }

    .speaker-card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        cursor: pointer;
        margin-bottom: 10px;

        .avatar {
            margin-top: 10px;
            align-self: center;
            width: 150px;
            height: 150px;

            img {
                border-radius: 50%;
                width: inherit;
                height: inherit;
            }
        }

        .card-body {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;

            .card-title {
                align-self: center;
                font-family: Poppins;
                color: $primary;
                font-weight: bolder;
                font-size: 1.4em;
            }

            .card-text {
                font-weight: bold;
                text-align: center;
            }
        }
    }

    .card {
        margin-right: 10px;
    }

    .speaker-name {
        font-family: Poppins;
        color: $primary;
        font-weight: bolder;
        font-size: 1.4em;
    }

    .speaker-bio {
        font-weight: lighter;
        text-align: justify;
    }
}

@media (max-width: 480px) {
    img {
        width: 100%;
        height: 100%;
    }
}
