<div class="content">
    <div class="container">
        <div class="footer-body">
            <div class="heading">
                <h4>DevFest Kenya 2020</h4>
            </div>

            <div class="socials">
                <i class="fab fa-twitter"><a href="https://twitter.com/devfestkenya" target="_blank" rel="noopener noreferrer">Twitter</a></i>
                <i class="fab fa-youtube"><a href="https://www.youtube.com/channel/UCt39RHWYbxXDgM33MRa6wjg" target="_blank" rel="noopener noreferrer">YouTube</a></i>
            </div>
        </div>
    </div>
</div>
