* {
    background-color: #f5f5f5;
}

.content {
    margin-top: 20px;
    .container {
        .footer-body {
            padding: 10px;

            h4 {
                font-weight: bolder;
                font-size: 1.5em;
                font-family: Poppins;
            }

            .socials {
                margin-top: 10px;
                i {
                    margin: 5px;
                    a {
                        text-decoration: none;
                        color: inherit;
                        font-weight: bold;
                        margin-left: 5px;
                        font-size: 1.2em;
                    }
                }
            }

            .nav-links {
                ul {
                    display: flex;
                    list-style-type: none;
                    padding: 0;
                    font-size: 1.2em;
                }

                li {
                    margin: 10px 10px 0 0;
                }

                li a {
                    text-decoration: none;
                    font-weight: bold;
                    position: relative;
                }
            }

            .attributes {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                margin: 10px;

                > span {
                    opacity: 0.5;

                    > a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .container {
        .footer-body {
            align-content: center;
            justify-content: center;

            h4 {
                text-align: center;
            }

            .socials {
                display: flex;
                align-content: center;
                justify-content: center;
            }
        }
    }
    ul {
        flex-direction: column;

        li {
            text-align: center;
        }

        li a {
            text-align: center;
        }
    }
}
