<div class="content">
    <div class="container">
        <div class="footer-body">
            <div class="heading">
                <h4>GDG DevFest Kenya 2020</h4>
            </div>

            <div class="socials">
                <i class="fab fa-twitter"><a href="https://twitter.com/devfestkenya" target="_blank"
                        rel="noopener noreferrer">Twitter</a></i>
                <i class="fab fa-youtube"><a href="https://www.youtube.com/channel/UCt39RHWYbxXDgM33MRa6wjg"
                        target="_blank" rel="noopener noreferrer">YouTube</a></i>
            </div>

            <div class="nav-links">
                <ul>
                    <li><a [routerLink]="['']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"
                            class="nav_link">Home</a><span class="isactive"></span></li>
                    <li><a [routerLink]="['schedule']" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active" class="nav_link">Schedule</a><span class="isactive"></span></li>
                    <li><a [routerLink]="['speakers']" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active" class="nav_link">Speakers</a><span class="isactive"></span></li>
                    <li><a href="https://www.youtube.com/c/GDGNairobi" target="_blank" rel="noopener noreferrer"
                            class="nav_link">Recap</a><span class="isactive"></span>
                    </li>
                    <li><a href="https://discord.gg/ctJJDSm" target="_blank" rel="noopener noreferrer"
                            class="nav_link">Live Chat</a><span class="isactive"></span>
                    </li>
                </ul>
            </div>

            <div class="attributes">
                <span class="footer_desc">Done with &#10084; by <a class="git_link"
                        href="https://waynegakuo.netlify.app/" target="_blank" rel="noopener">Wayne Gakuo</a></span>
            </div>
        </div>
    </div>
</div>