<nav class="nav-bar">
        <!-- <img src="../../../assets/images/GCSP_Original.jpg" alt="GCSP Logo" [routerLink]="['']"
        [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"> -->
        <p>DevFest Kenya</p>
        <button class="burger" id="burger">
                Toggle
        </button>

        <ul>
                <li><a [routerLink]="['']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"
                                class="nav_link">Home</a><span class="isactive"></span></li>
                <li><a [routerLink]="['schedule']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"
                                class="nav_link">Schedule</a><span class="isactive"></span></li>
                <li><a [routerLink]="['speakers']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"
                                class="nav_link">Speakers</a><span class="isactive"></span></li>
                <li><a [routerLink]="" (click)=" openSnackBar()" class="nav_link">Communities</a><span
                                class="isactive"></span>
                </li>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdLGP1EbbiQ3sS_FNPwOJnHh9Lae1kVGQ0i6oi0pr1KR5dW8w/viewform"
                                target="_blank" rel="noopener noreferrer" class="nav_link">Register</a><span
                                class="isactive"></span>
                </li>
        </ul>
</nav>