<nav class="nav-bar">
    <!-- <img src="../../../assets/images/GCSP_Original.jpg" alt="GCSP Logo" [routerLink]="['']"
        [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"> -->
    <p>DevFest Kenya</p>
    <button class="burger" id="burger">
        Toggle
    </button>

    <ul>
        <li><a [routerLink]="['']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"
                class="nav_link">Home</a><span class="isactive"></span></li>
        <li><a [routerLink]="['about-us']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"
                class="nav_link">About</a><span class="isactive"></span></li>
        <li><a [routerLink]="['blogs']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"
                class="nav_link">Blogs</a><span class="isactive"></span></li>
        <li><a [routerLink]="['events']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"
                class="nav_link">Events</a><span class="isactive"></span></li>
    </ul>
</nav>