@import "../../../color";
@import "../../../shadows";

.container {
    .content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 100px;

        .logo {
            width: 50%;
            padding: 30px;

            img {
                width: 100%;
            }

            .timeline {
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-weight: bold;

                .date {
                    padding: 10px;
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    justify-content: space-between;

                    > span {
                        padding: 0 10px;
                        font-size: 1.5em;
                    }
                }
                .online {
                    padding: 10px;
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    justify-content: space-between;

                    > span {
                        padding: 0 10px;
                        font-size: 1.5em;
                    }
                }
            }

            .register {
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .register-link {
                    // width: 30%;
                    margin: 0 10px 0 0;
                    text-align: center;
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                    padding: 11px 47px !important;
                    box-sizing: border-box;
                    border-radius: 5px;
                    background-color: $primary;
                    font-size: 1.5em;
                }

                .discord-link {
                    .discord {
                        // margin: 0 10px 0 0;
                        width: 30%;
                    }
                }
            }
        }
        .preview {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        .content {
            flex-direction: column;
            margin-top: 30px;

            .logo {
                padding: 10px;
                width: 100%;

                .timeline {
                    flex-direction: column;
                    .date {
                        > span {
                            font-size: 1.2em;
                        }
                    }

                    .online {
                        > span {
                            font-size: 1.2em;
                        }
                    }
                }
                .register {
                    flex-direction: column;

                    .register-link {
                        padding: 21px 57px !important;
                        font-size: 2em;
                        margin-top: 10px;
                    }
                }
            }
            .preview {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .container {
        .content {
            flex-direction: column;
            margin-top: 30px;

            .logo {
                padding: 10px;
                width: 100%;

                .timeline {
                    flex-direction: column;
                    .date {
                        > span {
                            font-size: 1.2em;
                        }
                    }

                    .online {
                        > span {
                            font-size: 1.2em;
                        }
                    }
                }
                .register {
                    flex-direction: column;

                    .register-link {
                        margin-top: 10px;
                        padding: 11px 47px !important;
                        font-size: 1.5em;
                    }
                }
            }
            .preview {
                width: 100%;
            }
        }
    }
}
