$primary: #0005DF;
$overlay-1: rgba(0, 0, 0, 0.5);

$secondary: #e03170;
$accent-1: #fff;
$accent-2: #f7f7f7;
$accent-grey: #8d8d8d;
$accent-grey-1: rgba(25, 25, 25, 0.5);
$accent-grey-2: #707070;
$accent-grey-3: #e2e2e2;
$accent-grey-4: #e0e0e0;
$accent-grey-5: #d2d2d2;
$accent-grey-6: rgba(25, 25, 25, 0.9);
$background-1: #f7f7f7;
$overlay-1: rgba(0, 0, 0, 0.5);
$overlay-2: rgba(0, 0, 0, 0.3);
$overlay-3: rgba(25, 25, 25, 0.6);
$border-top:#D8D8D8 1px solid;